{% extends "network/layout.html" %}


{% block posts %}

<h2>Posts</h2>
{% include "network/display_posts.html" %}

{% endblock %}


{% block nextpages %}

<!-- if number of posts > 10, display 'next' button to go to the next page; hide the displayed posts, and display next ones  -->
{% if total_posts > 10 %}
    <div class="pagination">
        <!-- if you are on page 2 or more, display the back button as well -->
        {% if pagenum > 1 %}
            <form id="prev-page" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="pagenum" id="{{ pagenum|add:'-1' }}" value="{{ pagenum|add:'-1' }}" hidden>
                <button class="btn btn-sm btn-outline-primary" id="back-btn">Back</button>
            </form>
        {% endif %}
        <h4 id="page-number">{{ pagenum }}</h4>
        <!-- if there are less than 10 posts left, remove the next button -->
        {% if page_posts >= 10 %}
            <form id="next-page" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="pagenum" id="{{ pagenum|add:'1' }}" value="{{ pagenum|add:'1' }}" hidden>
                <button class="btn btn-sm btn-outline-primary" id="next-btn">Next</button>
            </form>
        {% endif %}        
    </div>
{% endif %}

{% endblock %}